@import './theme.scss';

.container {
  margin: 20px auto;
  width: 550px;

  @include responsive('T') {
    width: 100%;
  }

  .wrapper {
    position: relative;
  }
}

.main {
  margin: 100px 20px;
  padding-bottom: 50px;
}
