@import './theme.scss';

.container {
  margin: 20px auto;
  width: 550px;

  @include responsive('T') {
    width: 100%;
  }

  .wrapper {
    width: 98%;
    position: relative;
  }
}

.main {
  margin-top: 100px;
  padding-bottom: 50px;
}
