.header {
  &-container {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid black;
    transform: translate(-50%, 0);

    h1 {
      a {
        font-size: 40px;
        font-weight: 700;
        color: black;
      }
    }
  }
}
