@import '../../styles/theme.scss';

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
  z-index: 100;
  background-color: $white;

  @include responsive('T') {
    width: 100%;
  }

  .nav-wrapper {
    display: flex;
  }
  .nav-item {
    padding: 20px 30px;
    border-top: 1px solid $black;
    border-right: 1px solid $black;
    width: calc(100% / 3);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: $black;
    cursor: pointer;

    &:last-child {
      border-right: 0;
    }

    &:hover,
    :focus,
    :active {
      color: $active-color;
    }
    &.active {
      color: $active-color;
    }
  }
}
