@import '../../styles//theme.scss';

.list-item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
  padding: 16px;
  height: 120px;
  border: 0.5px solid $active-color;
  border-radius: 4px;
  background: $todo-bg;
  cursor: pointer;
}

.check-box {
  width: 16px;
  height: 16px;
  border: 2px solid $black;
  border-radius: 1px;
  margin-right: 10px;
}

.item {
  &-top-wrapper {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;

    .btn-delete {
      font-size: 16px;
      position: absolute;
      right: 14px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
  &-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    @include textoverflow(2);
    width: 94%;
  }
  &-bottom-wrapper {
    margin-left: 26px;
    margin-bottom: 5px;
  }
  &-desc {
    font-weight: 400;
    font-size: 14px;
    color: $grey;
    @include textoverflow(3);
    word-break: break-all;
  }
}
